
<div class= "container">
  <h3>TO DO:</h3>
  <div id="todolist"  *ngFor="let todo of this.service.todolist">
      <app-item [parentData]="todo"></app-item>
  </div>
  <div>
    <div id = "error">{{errorMsg}}</div>
    <div>
      <input id="input" type = "text" #todoInput name = "input-todo" >
    </div>
    <br>
    <div>
      <button id="inputButton" type="button" (click)="saveTodo(todoInput.value)" >SAVE ITEM</button>
    </div>
  </div>
</div>

