<div class= "row">
  <label [class.complete]="parentData.isComplete" class="todo-coloumn">{{parentData.todo}}</label>
  <button [id]= "parentData.id" class="completeButton" (click)="completeTodo(parentData.id)"><i class="fas fa-check-square" aria-hidden="true"
    style="font-size:15px;color:green;"></i></button>
  <button [id]= "parentData.id" class="deleteButton" (click)="deleteTodo(parentData.id)"><i class="fa fa-trash" aria-hidden="true"
   style="font-size:15px;color:red;"></i></button>
</div>
