.row{
    display: flex;
}
.todo-coloumn{
    border-style: groove;
    padding: 5px 5px 5px 5px;
    border-radius: 6px;
    text-align: left;
    background-color: #e9c8ee;
    -webkit-flex:10;
    -ms-flex: 10;
    flex: 10;
    margin-right: 70px;
}
.complete{
    border-style: groove;
    padding: 5px 5px 5px 5px;
    border-radius: 6px;
    text-align: left;
    background-color: #e9c8ee;
    -webkit-flex:10;
    -ms-flex: 10;
    flex: 10;
    margin-right: 70px;
    text-decoration: line-through;
}
.deleteButton .completeButton {
    -webkit-flex:1;
    -ms-flex:1;
    flex:1;
    background:none;
    border:none;
    margin-left: 5px;
    margin-right: 5px;
    
}